<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu_open</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

      <h1 class="example-app-name">Aplication Employee Admin</h1>

      <span class="example-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/perfil">
              <mat-icon>account_box</mat-icon>
              <span>Mi Perfil</span>
          </button>
          <button mat-menu-item (click)="sidenav.opened = false" >
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesión</span>
          </button>
      </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #sidenav style="width: 200px" mode="over">
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/employee" style="cursor: pointer">
            <mat-icon>accessibility</mat-icon>
            <span>Employees</span>
        </button>
        <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/department" style="cursor: pointer">
              <mat-icon>insert_drive_file</mat-icon>
              <span>Departments</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/enterprise"
              style="cursor: pointer">
              <mat-icon>insert_drive_file</mat-icon>
              <span>Enterpise</span>
          </button>
          <mat-divider></mat-divider>
      </mat-sidenav>

      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>


  </mat-sidenav-container>

</div>
